__pycache__/
*.pyc
.venv/
venv/
core/uploads/
core/output-python/
core/analysis_results

core/pretrained_models/
core/result_zips/*.zip

client/node_modules/
client/.next/
client/.DS_Store
client/*.log

core/.env
client/.env.local

.DS_Store
audily.db
*.db
